<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Ecart</title>
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap css cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- end of Bootstrap css cdn link -->
    <!-- My CSS -->
    <link rel="stylesheet" href="/adminSide/css/adminAddCategory.css" />

    
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="/adminHome" class="brand">
        <svg
          width="174"
          height="20"
          viewBox="0 0 174 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.144 19C13.9533 18.376 13.7367 17.7347 13.494 17.076C13.2687 16.4173 13.0433 15.7587 12.818 15.1H5.798C5.57267 15.7587 5.33867 16.4173 5.096 17.076C4.87067 17.7347 4.66267 18.376 4.472 19H0.26C0.936 17.0587 1.57733 15.2647 2.184 13.618C2.79067 11.9713 3.38 10.42 3.952 8.964C4.54133 7.508 5.11333 6.13 5.668 4.83C6.24 3.51267 6.82933 2.23 7.436 0.982H11.31C11.8993 2.23 12.48 3.51267 13.052 4.83C13.624 6.13 14.196 7.508 14.768 8.964C15.3573 10.42 15.9553 11.9713 16.562 13.618C17.1687 15.2647 17.81 17.0587 18.486 19H14.144ZM9.282 5.064C9.19533 5.324 9.06533 5.67933 8.892 6.13C8.71867 6.58067 8.51933 7.10067 8.294 7.69C8.06867 8.27933 7.81733 8.92933 7.54 9.64C7.28 10.3507 7.01133 11.096 6.734 11.876H11.856C11.5787 11.096 11.31 10.3507 11.05 9.64C10.79 8.92933 10.5387 8.27933 10.296 7.69C10.0707 7.10067 9.87133 6.58067 9.698 6.13C9.52467 5.67933 9.386 5.324 9.282 5.064ZM24.8743 15.698C25.0649 15.7153 25.2816 15.7327 25.5243 15.75C25.7843 15.75 26.0876 15.75 26.4343 15.75C28.4623 15.75 29.9616 15.2387 30.9323 14.216C31.9203 13.1933 32.4143 11.7807 32.4143 9.978C32.4143 8.08867 31.9463 6.65867 31.0103 5.688C30.0743 4.71733 28.5923 4.232 26.5643 4.232C26.2869 4.232 26.0009 4.24067 25.7063 4.258C25.4116 4.258 25.1343 4.27533 24.8743 4.31V15.698ZM36.6003 9.978C36.6003 11.538 36.3576 12.8987 35.8723 14.06C35.3869 15.2213 34.6936 16.1833 33.7923 16.946C32.9083 17.7087 31.8249 18.2807 30.5423 18.662C29.2596 19.0433 27.8209 19.234 26.2263 19.234C25.4983 19.234 24.6489 19.1993 23.6783 19.13C22.7076 19.078 21.7543 18.9567 20.8183 18.766V1.216C21.7543 1.04267 22.7249 0.93 23.7303 0.877999C24.7529 0.808666 25.6283 0.773999 26.3563 0.773999C27.8989 0.773999 29.2943 0.947332 30.5423 1.294C31.8076 1.64067 32.8909 2.18667 33.7923 2.932C34.6936 3.67733 35.3869 4.63067 35.8723 5.792C36.3576 6.95333 36.6003 8.34867 36.6003 9.978ZM44.7722 0.982C45.0842 1.554 45.4395 2.26467 45.8382 3.114C46.2542 3.946 46.6789 4.856 47.1122 5.844C47.5629 6.81467 48.0049 7.81133 48.4382 8.834C48.8715 9.85667 49.2789 10.8187 49.6602 11.72C50.0415 10.8187 50.4489 9.85667 50.8822 8.834C51.3155 7.81133 51.7489 6.81467 52.1822 5.844C52.6329 4.856 53.0575 3.946 53.4562 3.114C53.8722 2.26467 54.2362 1.554 54.5482 0.982H58.2402C58.4135 2.178 58.5695 3.52133 58.7082 5.012C58.8642 6.48533 58.9942 8.028 59.0982 9.64C59.2195 11.2347 59.3235 12.838 59.4102 14.45C59.5142 16.062 59.6009 17.5787 59.6702 19H55.7182C55.6662 17.2493 55.5969 15.3427 55.5102 13.28C55.4235 11.2173 55.2935 9.13733 55.1202 7.04C54.8082 7.768 54.4615 8.574 54.0802 9.458C53.6989 10.342 53.3175 11.226 52.9362 12.11C52.5722 12.994 52.2169 13.8433 51.8702 14.658C51.5235 15.4553 51.2289 16.14 50.9862 16.712H48.1522C47.9095 16.14 47.6149 15.4553 47.2682 14.658C46.9215 13.8433 46.5575 12.994 46.1762 12.11C45.8122 11.226 45.4395 10.342 45.0582 9.458C44.6769 8.574 44.3302 7.768 44.0182 7.04C43.8449 9.13733 43.7149 11.2173 43.6282 13.28C43.5415 15.3427 43.4722 17.2493 43.4202 19H39.4682C39.5375 17.5787 39.6155 16.062 39.7022 14.45C39.8062 12.838 39.9102 11.2347 40.0142 9.64C40.1355 8.028 40.2655 6.48533 40.4042 5.012C40.5602 3.52133 40.7249 2.178 40.8982 0.982H44.7722ZM63.3222 0.982H67.3782V19H63.3222V0.982ZM83.6388 19C82.4774 16.9373 81.2208 14.9007 79.8688 12.89C78.5168 10.8793 77.0781 8.98133 75.5528 7.196V19H71.5488V0.982H74.8508C75.4228 1.554 76.0554 2.256 76.7488 3.088C77.4421 3.92 78.1441 4.81267 78.8548 5.766C79.5828 6.702 80.3021 7.68133 81.0128 8.704C81.7234 9.70933 82.3908 10.68 83.0148 11.616V0.982H87.0448V19H83.6388Z"
            fill="black"
          />
          <path
            d="M99.9172 19.676C98.8945 19.676 98.1405 19.3553 97.6552 18.714C97.1699 18.0553 96.9272 17.0847 96.9272 15.802C96.9272 14.502 97.4732 10.836 98.5652 4.804L97.1872 2.022C99.1459 0.756666 100.931 0.124 102.543 0.124C103.566 0.124 104.199 0.609333 104.441 1.58C106.4 1.528 108.844 1.086 111.773 0.254C111.912 0.825999 111.981 1.38933 111.981 1.944C111.981 3.348 111.513 4.40533 110.577 5.116C109.659 5.82667 108.471 6.182 107.015 6.182C106.027 6.182 105.057 5.974 104.103 5.558C103.965 6.338 103.722 7.612 103.375 9.38C104.017 9.50133 104.563 9.562 105.013 9.562C105.724 9.42333 106.504 9.224 107.353 8.964C107.44 9.25867 107.483 9.744 107.483 10.42C107.483 11.0787 107.215 11.6073 106.677 12.006C106.14 12.4047 105.533 12.604 104.857 12.604C104.199 12.604 103.523 12.526 102.829 12.37C102.639 13.462 102.543 14.4933 102.543 15.464H106.755C108.073 15.2733 109.399 14.9353 110.733 14.45C110.837 14.762 110.889 15.1867 110.889 15.724C110.889 16.7467 110.586 17.6567 109.979 18.454C109.39 19.2513 108.567 19.65 107.509 19.65C106.955 19.65 106.14 19.5373 105.065 19.312C104.008 19.104 103.219 18.974 102.699 18.922C101.867 19.4247 100.94 19.676 99.9172 19.676ZM112.635 12.812C112.635 10.0387 113.588 7.77667 115.495 6.026C117.402 4.27533 119.802 3.4 122.697 3.4C124.188 3.4 125.366 3.686 126.233 4.258C127.1 4.81267 127.533 5.51467 127.533 6.364C127.533 7.21333 127.238 7.86333 126.649 8.314C126.077 8.76467 125.444 8.99 124.751 8.99C124.075 8.99 123.451 8.808 122.879 8.444C122.324 8.08 121.891 7.55133 121.579 6.858C120.487 7.30867 119.62 8.106 118.979 9.25C118.355 10.394 118.043 11.538 118.043 12.682C118.043 13.826 118.268 14.7533 118.719 15.464C119.17 16.1747 119.759 16.53 120.487 16.53C121.215 16.53 121.804 16.2873 122.255 15.802C122.723 15.3167 122.957 14.5973 122.957 13.644C125.488 13.644 126.753 14.242 126.753 15.438C126.753 16.4607 126.112 17.4227 124.829 18.324C123.546 19.208 121.856 19.65 119.759 19.65C117.662 19.65 115.946 19.026 114.611 17.778C113.294 16.5127 112.635 14.8573 112.635 12.812ZM139.147 15.802L138.887 15.672C138.419 16.92 137.743 17.8993 136.859 18.61C135.992 19.3033 135.022 19.65 133.947 19.65C132.474 19.65 131.295 19.0953 130.411 17.986C129.527 16.8767 129.085 15.3947 129.085 13.54C129.085 10.6627 130.047 8.25333 131.971 6.312C133.912 4.37067 136.322 3.4 139.199 3.4C139.944 3.4 140.629 3.46933 141.253 3.608C141.357 4.09333 141.418 4.518 141.435 4.882C142.302 4.32733 143.194 4.05 144.113 4.05C145.378 4.05 146.011 4.73467 146.011 6.104C146.011 6.58933 145.734 8.054 145.179 10.498C144.642 12.942 144.373 14.7533 144.373 15.932C144.373 17.1107 144.642 17.9253 145.179 18.376C144.208 19.2253 143.194 19.65 142.137 19.65C141.097 19.65 140.334 19.338 139.849 18.714C139.381 18.09 139.147 17.1193 139.147 15.802ZM133.973 12.266C133.973 13.1153 134.146 13.774 134.493 14.242C134.857 14.6927 135.368 14.918 136.027 14.918C136.686 14.918 137.336 14.6753 137.977 14.19C138.618 13.7047 139.156 13.0373 139.589 12.188C139.745 10.4373 140.083 8.366 140.603 5.974C138.852 5.974 137.31 6.60667 135.975 7.872C134.64 9.13733 133.973 10.602 133.973 12.266ZM148.619 16.426C148.619 15.7327 148.793 14.3893 149.139 12.396C149.503 10.4027 149.876 8.58267 150.257 6.936L148.905 4.856C151.072 3.88533 152.589 3.4 153.455 3.4C154.339 3.4 154.781 3.95467 154.781 5.064C154.781 5.67067 154.495 6.936 153.923 8.86L154.183 8.99C155.431 5.26333 156.983 3.4 158.837 3.4C159.687 3.4 160.337 3.66 160.787 4.18C161.238 4.7 161.463 5.28067 161.463 5.922C161.463 6.87533 161.108 7.69 160.397 8.366C159.687 9.042 158.621 9.38 157.199 9.38C155.05 9.38 153.975 11.59 153.975 16.01C153.975 17.0847 154.157 17.8733 154.521 18.376C153.447 19.2253 152.459 19.65 151.557 19.65C149.599 19.65 148.619 18.5753 148.619 16.426ZM162.693 9.614C162.572 9.12867 162.511 8.678 162.511 8.262C162.511 7.41267 162.763 6.77133 163.265 6.338C163.768 5.90467 164.418 5.688 165.215 5.688C165.215 4.78667 164.981 3.80733 164.513 2.75C165.363 2.126 166.134 1.658 166.827 1.346C167.538 1.01667 168.283 0.852 169.063 0.852C169.843 0.852 170.381 0.999333 170.675 1.294C170.987 1.57133 171.143 2.00467 171.143 2.594C171.143 3.18333 171.022 4.102 170.779 5.35C171.473 5.246 172.175 5.09867 172.885 4.908C173.007 5.272 173.067 5.74 173.067 6.312C173.067 6.884 172.842 7.42133 172.391 7.924C171.958 8.40933 171.317 8.652 170.467 8.652H170.077C169.453 11.4773 169.141 13.6527 169.141 15.178C169.141 16.7033 169.41 17.7693 169.947 18.376C168.977 19.2253 167.945 19.65 166.853 19.65C165.761 19.65 164.973 19.3293 164.487 18.688C164.019 18.0293 163.785 17.0153 163.785 15.646C163.785 14.814 164.089 12.63 164.695 9.094C164.002 9.21533 163.335 9.38867 162.693 9.614Z"
            fill="#00FF00"
          />
        </svg>
      </a>
      <ul class="side-menu top p-0">
        <li>
          <a href="/adminHome">
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/adminBannerManagement">
            <span class="text">Banner Management</span>
          </a>
        </li>
        <li>
          <a href="/adminProductManagement">
            <span class="text">Product Management</span>
          </a>
        </li>
        <li class="active">
          <a href="/adminCategoryManagement">
            <span class="text">Category Management</span>
          </a>
        </li>
        <li>
          <a href="/adminUserManagement">
            <span class="text">User Management</span>
          </a>
        </li>
        <li>
          <a href="/adminOrderManagement">
            <span class="text">Order Management</span>
          </a>
        </li>
        <li>
          <a href="/adminCouponManagement">
            <span class="text">Coupon Management</span>
          </a>
        </li>
        <li>
          <a href="/adminRefferalOfferManagement">
            <span class="text">Refferal Offer Management</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="/adminLogout" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Add Category</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/adminHome">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/adminCategoryManagement">Category Management</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="/adminAddCategory">Add Category</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="manageOptions">
          <a href="/adminCategoryManagement">
            <button>Go Back</button>
          </a>
        </div>

        <div class="table-data justify-content-center">
          <div id="addProduct" class="order">
            <form class="addProductForm" action="/adminAddCategory" method="post">
              <h2 class="fs-3 text-black fw-bold text-center">Add Category</h2>
                <div class="d-flex align-items-center formRow">
                    <div class="<%= errMesg?.catErr?'err':'' %>">
                        <label for="name" class="d-block fs-6">Category Name</label>
                        <input class="name" type="text" name="name" value="<%= sDetails?.name?sDetails.name:'' %>">
                        <% if (errMesg?.catErr) { %>
                          <p class="err p-0 d-block text-danger"><%= errMesg.catErr %></p>
                        <% } %>
                    </div>
                </div>
                <div class="d-flex align-items-center formRow w-100">
                  <div class="w-100 <%= errMesg?.dErr?'err':'' %>">
                    <label for="name" class="d-block fs-6">Description</label>
                    <textarea name="description" id="description" class="w-100"><%= sDetails?.description?sDetails.description:'' %></textarea>
                    <% if (errMesg?.dErr) { %>
                      <p class="err p-0 d-block text-danger"><%= errMesg.dErr %></p>
                    <% } %>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="addBtn">Add Category</button>
                </div>
            </form>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="/adminSide/js/adminAddCategory.js"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>
