<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecart</title>
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/userSide/css/productDetailPAge.css" />
    <!-- end of Style css -->
  </head>
  <body>
    <!-- header -->
    <%- include('../includes/userSide/header') %>
    <!-- end of header -->

    <!-- main -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 searchBar d-flex align-items-center justify-content-center position-relative"
          >
            <div
              class="sortOption position-absolute d-flex align-items-center gap-3"
            >
              <div class="fliterIcon">
                <svg
                  width="26"
                  height="26"
                  viewBox="0 0 26 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.8333 19.5V17.3333H15.1667V19.5H10.8333ZM6.5 14.0833V11.9167H19.5V14.0833H6.5ZM3.25 8.66667V6.5H22.75V8.66667H3.25Z"
                    fill="white"
                  />
                </svg>
              </div>
            </div>
            <div class="searchBox d-flex align-items-center">
              <input
                type="text"
                name="search"
                placeholder="Search for Products"
              />
              <button
                class="searchBtn d-flex justify-content-center align-items-center"
              >
                <svg
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.3333 17.6101L11.0833 12.3455C10.6667 12.6798 10.1875 12.9444 9.64583 13.1394C9.10417 13.3343 8.52778 13.4318 7.91667 13.4318C6.40278 13.4318 5.12153 12.9061 4.07292 11.8545C3.02431 10.803 2.5 9.51818 2.5 8.00007C2.5 6.48196 3.02431 5.19714 4.07292 4.1456C5.12153 3.09407 6.40278 2.5683 7.91667 2.5683C9.43056 2.5683 10.7118 3.09407 11.7604 4.1456C12.809 5.19714 13.3333 6.48196 13.3333 8.00007C13.3333 8.61289 13.2361 9.19088 13.0417 9.73406C12.8472 10.2772 12.5833 10.7577 12.25 11.1756L17.5 16.4402L16.3333 17.6101ZM7.91667 11.7605C8.95833 11.7605 9.84375 11.3949 10.5729 10.6637C11.3021 9.93253 11.6667 9.04464 11.6667 8.00007C11.6667 6.9555 11.3021 6.06761 10.5729 5.33641C9.84375 4.60521 8.95833 4.23961 7.91667 4.23961C6.875 4.23961 5.98958 4.60521 5.26042 5.33641C4.53125 6.06761 4.16667 6.9555 4.16667 8.00007C4.16667 9.04464 4.53125 9.93253 5.26042 10.6637C5.98958 11.3949 6.875 11.7605 7.91667 11.7605Z"
                    fill="black"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 padding">
            <div class="imgMain">
              <div
                class="d-flex justify-content-center align-items-center position-relative demo-area mainImg"
              >
                <img
                class="demo-trigger mainFistImg"
                src="<%= products.variations[0].images[0] %>"
                data-zoom="<%= products.variations[0].images[0] %>"
                alt=""
                />
                <div class="detail"></div>
                <% if (wishListProducts?.products.includes(products._id)) { %>
                  <a href="/deleteWishlist/<%= products._id %>" data-methode="PATCH" id="wishlist">
                    <div
                      class="favIcon position-absolute d-flex justify-content-center align-items-center"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                      >
                        <path
                          d="M1.67344 10.5609L8.02617 16.4918C8.28984 16.7379 8.63789 16.875 9 16.875C9.36211 16.875 9.71016 16.7379 9.97383 16.4918L16.3266 10.5609C17.3953 9.56602 18 8.17032 18 6.71133V6.50743C18 4.05001 16.2246 1.95469 13.8023 1.5504C12.1992 1.28321 10.568 1.80704 9.42188 2.95313L9 3.37501L8.57812 2.95313C7.43203 1.80704 5.80078 1.28321 4.19766 1.5504C1.77539 1.95469 0 4.05001 0 6.50743V6.71133C0 8.17032 0.604687 9.56602 1.67344 10.5609Z"
                          fill="#FF0000"
                        />
                      </svg>
                    </div>
                  </a>
                <% } else { %>
                        <a href="/addToWishlist/<%= products._id %>" data-methode="PATCH" id="wishlist">
                          <div
                            class="favIcon position-absolute d-flex justify-content-center align-items-center"
                          >
                              <svg  class="position-absolute" width="18" height="18" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5844 20.1253L10.4672 20.0175L2.25469 12.391C0.815625 11.055 0 9.18003 0 7.21596V7.06128C0 3.76128 2.34375 0.930027 5.5875 0.311277C7.43437 -0.0449731 9.32344 0.381589 10.8281 1.44096C11.25 1.74096 11.6438 2.08784 12 2.48628C12.1969 2.26128 12.4078 2.05503 12.6328 1.86284C12.8062 1.71284 12.9844 1.57221 13.1719 1.44096C14.6766 0.381589 16.5656 -0.0449731 18.4125 0.306589C21.6562 0.925339 24 3.76128 24 7.06128V7.21596C24 9.18003 23.1844 11.055 21.7453 12.391L13.5328 20.0175L13.4156 20.1253C13.0313 20.4816 12.525 20.6832 12 20.6832C11.475 20.6832 10.9688 20.4863 10.5844 20.1253ZM11.2078 4.97534C11.1891 4.96128 11.175 4.94253 11.1609 4.92378L10.3266 3.98628L10.3219 3.98159C9.23906 2.76753 7.60312 2.2144 6.00937 2.51909C3.825 2.93628 2.25 4.8394 2.25 7.06128V7.21596C2.25 8.5519 2.80781 9.83159 3.7875 10.741L12 18.3675L20.2125 10.741C21.1922 9.83159 21.75 8.5519 21.75 7.21596V7.06128C21.75 4.84409 20.175 2.93628 17.9953 2.51909C16.4016 2.2144 14.7609 2.77221 13.6828 3.98159C13.6828 3.98159 13.6828 3.98159 13.6781 3.98628C13.6734 3.99096 13.6781 3.98628 13.6734 3.99096L12.8391 4.92846C12.825 4.94721 12.8062 4.96128 12.7922 4.98003C12.5812 5.19096 12.2953 5.30815 12 5.30815C11.7047 5.30815 11.4188 5.19096 11.2078 4.98003V4.97534Z" fill="black"/>
                              </svg>
                          </div>
                        </a>
                <% } %>
                
              </div>

              <div class="d-flex align-items-center">
                <% for( let i = 0; i < products.variations[0].images.length; i++ ) { %>
                    <div onclick="changeImg('<%= products.variations[0].images[i] %>')" class="smImg">
                      <img src="<%= products.variations[0].images[i] %>" alt="" />
                    </div>
                <% } %>
              </div>
            </div>
            <div class="productContent">
              <h2 class="pName text-capitalize"><%= products.pName %></h2>
              <p class="sTittle"><%= products.sTittle %></p>
              <h2 class="hDescription">
                <%= products.hDescription %>
              </h2>
              <p class="pDescription">
                <%= products.pDescription %>
              </p>
              <p class="colorPallet">COLOR: <%= products.variations[0].color %></p>
              <div class="rating d-flex">
                <p class="ratedStar">★</p>
                <p class="ratedStar">★</p>
                <p class="ratedStar">★</p>
                <p class="ratedStar">★</p>
                <p class="unRatedStar">★</p>
              </div>
              <div class="price">
                <p class="lPrice">₹<%= products.lPrice - Math.round(products.lPrice * products.allOffers / 100) %></p>
                <p class="fPrice">₹<%= products.fPrice %></p>
              </div>
              <p class="stock <%= products.variations[0].quantity > 0?'text-success':'text-danger' %>"><%= products.variations[0].quantity > 0?'In Stock':'Out Of Stock' %></p>
              <div class="btnBuy">
                <% if (products.variations[0].quantity > 0) { %>
                    <a href="/buyNow/<%= products._id %>">
                      <button class="buyBtn">Buy Now</button>
                    </a>
                <% } else { %>
                    <button class="buyBtn">out of stock</button>
                <% } %>
                <% if (isCartItem) { %>
                      <a href="/addToCart">
                        <button class="cartBtn">go to cart</button>
                      </a>
                <% } else { %>
                        <% if (products.variations[0].quantity > 0) { %>
                          <a href="/cartNow/<%= products._id %>">
                            <button class="cartBtn">add to cart</button>
                          </a>
                        <% } %>
                <% } %>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="rateReview">
              <div
                class="review d-flex align-items-center justify-content-between"
              >
                <h2>Ratings & Reviews</h2>
                <a href="/productRate/<%= products._id %>">
                  <button>Rate Product</button>
                </a>
              </div>
              <div class="content">
                <div class="userReview">
                  <h2>Great product</h2>
                  <div class="rating d-flex">
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                  </div>
                  <p class="reviewDetails">
                    It's sound quality is perfect as well as very loud and
                    clear. It's built quality is upto the mark because it's
                    woofer is made up of wood which is very good and it's bass
                    and treble is very amazing after all you can listen any song
                    and watch any movie like cinema hall experience. Overall it
                    is best for this price.
                  </p>
                  <p class="ratedUserName">User 1</p>
                </div>
                <div class="userReview">
                  <h2>Great product</h2>
                  <div class="rating d-flex">
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                  </div>
                  <p class="reviewDetails">
                    It's sound quality is perfect as well as very loud and
                    clear. It's built quality is upto the mark because it's
                    woofer is made up of wood which is very good and it's bass
                    and treble is very amazing after all you can listen any song
                    and watch any movie like cinema hall experience. Overall it
                    is best for this price.
                  </p>
                  <p class="ratedUserName">User 1</p>
                </div>
                <div class="userReview">
                  <h2>Great product</h2>
                  <div class="rating d-flex">
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                  </div>
                  <p class="reviewDetails">
                    It's sound quality is perfect as well as very loud and
                    clear. It's built quality is upto the mark because it's
                    woofer is made up of wood which is very good and it's bass
                    and treble is very amazing after all you can listen any song
                    and watch any movie like cinema hall experience. Overall it
                    is best for this price.
                  </p>
                  <p class="ratedUserName">User 1</p>
                </div>
                <div class="userReview">
                  <h2>Great product</h2>
                  <div class="rating d-flex">
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                    <p class="ratedStar">★</p>
                  </div>
                  <p class="reviewDetails">
                    It's sound quality is perfect as well as very loud and
                    clear. It's built quality is upto the mark because it's
                    woofer is made up of wood which is very good and it's bass
                    and treble is very amazing after all you can listen any song
                    and watch any movie like cinema hall experience. Overall it
                    is best for this price.
                  </p>
                  <p class="ratedUserName">User 1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    <%- include('../includes/userSide/footer') %>
    <!-- end of footer -->

    <!-- custom js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/drift-zoom@1.5.0/dist/Drift.min.js"></script>
    <script src="/userSide/js/productDetailPAge.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
    <script>
      const isOrdered = '<%= message %>';
      console.log(isOrdered); 
      if(isOrdered){
        Swal.fire({
          title: "Haven't purchased this product?",
          text: "Sorry! You  are not allowed to review this product since you haven't bought it on Ecart",
          confirmButtonText: "Continue Shopping"
        });
      }
    </script>
  </body>
</html>
