<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecart Shopping Cart</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/userSide/css/userCart.css" />
    <!-- end of Style css -->
  </head>
  <body>
    <!-- header -->
    <%- include('../includes/userSide/header') %>
    <!-- end of header -->

    <!-- main -->
    <main>
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartHead">
              <div class="d-flex align-items-center gap-2">
                <h2 class="m-0 p-0">Cart(<%= cartItems.length %>)</h2>
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 7.41421C4 7.20984 4 7.10765 4.03806 7.01577C4.07612 6.92388 4.14838 6.85162 4.29289 6.70711L5.82843 5.17157C6.40649 4.59351 6.69552 4.30448 7.06306 4.15224C7.4306 4 7.83935 4 8.65685 4H15.3431C16.1606 4 16.5694 4 16.9369 4.15224C17.3045 4.30448 17.5935 4.59351 18.1716 5.17157L19.7071 6.70711C19.8516 6.85162 19.9239 6.92388 19.9619 7.01577C20 7.10765 20 7.20984 20 7.41421V8H4V7.41421Z"
                    stroke="black"
                    stroke-width="2"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M21 8H3V17C3 18.8856 3 19.8284 3.58579 20.4142C4.17157 21 5.11438 21 7 21H17C18.8856 21 19.8284 21 20.4142 20.4142C21 19.8284 21 18.8856 21 17V8ZM10 11C10 10.4477 9.55228 10 9 10C8.44772 10 8 10.4477 8 11C8 12.0609 8.42143 13.0783 9.17157 13.8284C9.92172 14.5786 10.9391 15 12 15C13.0609 15 14.0783 14.5786 14.8284 13.8284C15.5786 13.0783 16 12.0609 16 11C16 10.4477 15.5523 10 15 10C14.4477 10 14 10.4477 14 11C14 11.5304 13.7893 12.0391 13.4142 12.4142C13.0391 12.7893 12.5304 13 12 13C11.4696 13 10.9609 12.7893 10.5858 12.4142C10.2107 12.0391 10 11.5304 10 11Z"
                    fill="black"
                  />
                </svg>
              </div>
            </div>
            <div class="cartBody d-flex">
              <div class="col-6 oneSection">
                <div class="cartItems">
                  <% for( let i = 0; i < cartItems.length; i++ ) { %>
                        <div class="items position-relative" data-productId="<%= cartItems[i].products.productId %>" onclick="location.href='/userProductDetail/<%= cartItems[i].products.productId %>'" >
                          <a
                            class="position-absolute deleteBtn stop"
                            href="/userCartDelete/<%= cartItems[i].products.productId %>"
                          >
                            <svg
                              viewBox="0 0 15 19"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M1.07143 16.8889C1.07143 18.05 2.03571 19 3.21429 19H11.7857C12.9643 19 13.9286 18.05 13.9286 16.8889V4.22222H1.07143V16.8889ZM15 1.05556H11.25L10.1786 0H4.82143L3.75 1.05556H0V3.16667H15V1.05556Z"
                                fill="black"
                              />
                            </svg>
                          </a>
                          <div class="contentDiv d-flex gap-4">
                            <div class="itemImg">
                              <img src="<%= cartItems[i].variations[0].images[0] %>" alt="" />
                            </div>
                            <div class="productDetails position-relative">
                              <h2 class="text-capitalize"><%= cartItems[i].pDetails[0].pName %></h2>
                              <div class="quandity d-flex align-items-center stop">
                                <div
                                  class="dec d-flex justify-content-center align-items-center"
                                >
                                  <i class="fa-solid fa-minus"></i>
                                </div>
                                <div
                                  class="qty d-flex justify-content-center align-items-center"
                                >
                                  <p class="m-0 p-0 qtyOne"><%= cartItems[i].products.quandity %></p>
                                </div>
                                <div
                                  class="inc d-flex justify-content-center align-items-center"
                                >
                                  <i class="fa-solid fa-plus"></i>
                                </div>
                              </div>
                              <p class="color">COLOR</p>
                              <p class="cName text-capitalize"><%= cartItems[i].variations[0].color %></p>
                              <% if (cartItems[i].variations[0].quantity === 0) { %>
                                    <p class="position-absolute stockErr <%= (cartItems[i].variations[0].quantity < cartItems[i].products.quandity)?'d-block':'' %>">Out Of Stock</p>
                              <% } else { %>
                                    <p class="position-absolute stockErr <%= (cartItems[i].variations[0].quantity < cartItems[i].products.quandity)?'d-block':'' %>">Only <%= cartItems[i].variations[0].quantity %> stocks available</p>
                              <% } %>
                              
                              <div class="price d-flex align-items-baseline gap-2">
                                <p class="lPrice">₹<%= cartItems[i].pDetails[0].lPrice %></p>
                                <p class="fPrice">₹<%= cartItems[i].pDetails[0].fPrice %></p>
                                <p><%= (cartItems[i].pDetails[0].lPrice / cartItems[i].pDetails[0].fPrice * 100).toFixed(2) %>% OFF</p>
                              </div>
                            </div>
                          </div>
                        </div>
                  <% } %>
                  <% if (cartItems.length === 0) { %>
                        <div class="d-flex justify-content-center align-items-center mb-4 noProduct">
                          <p class="text-center fs-5">\(^Д^)/<br>No Products In Cart</p>
                        </div>
                        <% if(cartErr) { %>
                          <p class="err"><%= cartErr %></p>
                        <% } %>
                  <% } %>
                  <div class="coupons">
                    <form
                      action="/userApplyCoupon"
                      class="d-flex align-items-center"
                      method="post"
                    >
                      <div class="input">
                        <input type="text" placeholder="Enter Coupon Code" />
                      </div>
                      <div>
                        <button type="submit">APPLY</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6 oneSection">
                <div class="orderSummary">
                  <div class="orderHeading">
                    <h2>order summary</h2>
                  </div>
                  <div class="orderContent">
                    <div
                      class="sTotal d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Subtotal</p>
                      <p class="commonSub m-0 p-0" id="sTotal">₹<%= cartItems.reduce((total, value) => {
                        return total += (value.pDetails[0].fPrice * value.products.quandity);
                      }, 0); %></p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Shipping</p>
                      <p class="commonSub m-0 p-0" id="free">FREE</p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Discount</p>
                      <p class="commonSub m-0 p-0" id="dPrice">-<%= cartItems.reduce((total, value) => {
                        return total += ((value.pDetails[0].fPrice - value.pDetails[0].lPrice) * value.products.quandity);
                      }, 0); %></p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Coupon Discount</p>
                      <p class="commonSub m-0 p-0" id="cDPrice">0</p>
                    </div>
                  </div>
                  <div
                    class="commonText tPrice d-flex justify-content-between align-items-center"
                  >
                    <p class="m-0 p-0">Total</p>
                    <p class="m-0 p-0" id="tPrice">₹<%= cartItems.reduce((total, value) => {
                      return total += (value.pDetails[0].lPrice * value.products.quandity);
                    }, 0); %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="checkOut">
              <form action="/userCartCheckOut" method="post">
                <button type="submit">CHECKOUT</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    <%- include('../includes/userSide/footer') %>
    <!-- end of footer -->

    <!-- custom js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/userSide/js/userCart.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>