<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecart</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon" /> -->
    <!-- Bootstrap css cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- end of Bootstrap css cdn link -->
    <!-- Style css -->
    <link rel="stylesheet" href="/userSide/css/userBuyNow.css" />
    <link rel="shortcut icon" href="/userSide/images/header/logo.svg" type="image/x-icon">
    <!-- end of Style css -->
  </head>
  <body>
    <!-- header -->
    <%- include('../includes/userSide/header') %>
    <!-- end of header -->

    <!-- main -->
    <main>
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartBody d-flex">
              <div class="col-6 oneSection">
                <div class="cartItems">
                  <div class="items position-relative">
                    <div class="contentDiv d-flex gap-4">
                      <div class="itemImg">
                        <img
                          src="<%= product.variations[0].images[0] %>"
                          alt=""
                        />
                      </div>
                      <div class="productDetails position-relative">
                        <h2><%= product.pName %></h2>
                        <div class="quandity d-flex align-items-center">
                          <div
                            class="dec d-flex justify-content-center align-items-center"
                          >
                            <i class="fa-solid fa-minus"></i>
                          </div>
                          <div
                            class="qty d-flex justify-content-center align-items-center"
                          >
                            <p class="m-0 p-0 qtyOne">
                              <%= savedQty?savedQty:1 %>
                            </p>
                          </div>
                          <div
                            class="inc d-flex justify-content-center align-items-center"
                          >
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        </div>
                        <p class="color">COLOR</p>
                        <p class="cName"><%= product.variations[0].color %></p>
                        <% if (errMesg) { %>
                        <p class="position-absolute stockErr"><%= errMesg %></p>
                        <% } %>
                        <div class="price d-flex align-items-baseline gap-2">
                          <p class="lPrice">₹<%= product.lPrice - Math.round(product.lPrice * product.allOffers / 100) %></p>
                          <p class="fPrice">₹<%= product.fPrice %></p>
                          <p>
                            <%= (product.lPrice / product.fPrice *
                            100).toFixed(2) %>% OFF
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="coupons">
                    <form
                      id="couponsForm"
                      action="/userApplyCoupon"
                      class="d-flex align-items-center"
                      method="post"
                    >
                      <div class="input valDiv">
                        <input class="inputCouponVal" type="text" name="code" placeholder="Enter Coupon Code" value="<%= coupon?.code?coupon.code:'' %>" />
                        <input type="text" name="productId" value="<%= product._id %>" hidden />
                        <p class="errVal err"></p>
                      </div>
                      <div>
                        <button type="submit">APPLY</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6 oneSection">
                <div class="orderSummary">
                  <div class="orderHeading">
                    <h2>order summary</h2>
                  </div>
                  <div class="orderContent">
                    <div
                      class="sTotal d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Subtotal</p>
                      <p class="commonSub m-0 p-0" id="sTotal">
                        ₹<%= product.fPrice * (savedQty?savedQty:1) %>
                      </p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Shipping</p>
                      <p class="commonSub m-0 p-0" id="free">FREE</p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Discount</p>
                      <p class="commonSub m-0 p-0" id="dPrice">
                        -<%= (product.fPrice - ((product.lPrice - Math.round(product.lPrice * product.allOffers / 100)))) *
                        (savedQty?savedQty:1) %>
                      </p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Coupon Discount</p>
                      <p class="commonSub m-0 p-0" id="cDPrice">0</p>
                    </div>
                    <div
                      class="ship d-flex justify-content-between align-items-center sCD d-none"
                    >
                      <p class="commonSub commonText m-0 p-0 text-danger cD"></p>
                      <p class="commonSub m-0 p-0 text-danger removecD" ><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.41602 9.21669H12.416V7.61669H4.41602V9.21669ZM8.41602 16.4167C7.30935 16.4167 6.26935 16.2067 5.29602 15.7867C4.32268 15.3667 3.47602 14.7967 2.75602 14.0767C2.03602 13.3567 1.46602 12.51 1.04602 11.5367C0.626016 10.5634 0.416016 9.52335 0.416016 8.41669C0.416016 7.31002 0.626016 6.27002 1.04602 5.29669C1.46602 4.32335 2.03602 3.47669 2.75602 2.75669C3.47602 2.03669 4.32268 1.46669 5.29602 1.04669C6.26935 0.626687 7.30935 0.416687 8.41602 0.416687C9.52268 0.416687 10.5627 0.626687 11.536 1.04669C12.5093 1.46669 13.356 2.03669 14.076 2.75669C14.796 3.47669 15.366 4.32335 15.786 5.29669C16.206 6.27002 16.416 7.31002 16.416 8.41669C16.416 9.52335 16.206 10.5634 15.786 11.5367C15.366 12.51 14.796 13.3567 14.076 14.0767C13.356 14.7967 12.5093 15.3667 11.536 15.7867C10.5627 16.2067 9.52268 16.4167 8.41602 16.4167ZM8.41602 14.8167C10.2027 14.8167 11.716 14.1967 12.956 12.9567C14.196 11.7167 14.816 10.2034 14.816 8.41669C14.816 6.63002 14.196 5.11669 12.956 3.87669C11.716 2.63669 10.2027 2.01669 8.41602 2.01669C6.62935 2.01669 5.11602 2.63669 3.87602 3.87669C2.63602 5.11669 2.01602 6.63002 2.01602 8.41669C2.01602 10.2034 2.63602 11.7167 3.87602 12.9567C5.11602 14.1967 6.62935 14.8167 8.41602 14.8167Z" fill="#DC3545"/>
                        </svg> remove</p>
                    </div>
                  </div>
                  <div
                    class="commonText tPrice d-flex justify-content-between align-items-center"
                  >
                    <p class="m-0 p-0">Total</p>
                    <p class="m-0 p-0" id="tPrice">
                      ₹<%= ((product.lPrice - Math.round(product.lPrice * product.allOffers / 100)) * (savedQty?savedQty:1)) %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="checkOut">
              <form action="/buyNowCheckOut" method="post">
                <input id="cId" name="couponId" type="text" value="<%= coupon?._id?coupon._id:'' %>" hidden>
                <input
                  id="proId"
                  type="text"
                  name="proId"
                  value="<%= product._id %>"
                  hidden
                />
                <input
                  id="noOfPro"
                  type="number"
                  name="qty"
                  value="<%= savedQty?savedQty:1 %>"
                  hidden
                />
                <button>CHECKOUT</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    <%- include('../includes/userSide/footer') %>
    <!-- end of footer -->

    <!-- custom js -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/userSide/js/userBuyNow.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>
